@{
    ViewBag.Title = "About";
}

<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
    -->



<div class="row">
    <div class="col-md-6">
        <h2>Servicio</h2>
        <p>

        </p>
    </div>
</div>
<br />

<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <form action="/Home/createServicio" method="post" id="frmVehiculo">

                <div class="form-group row">
                    <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
                    <input id="nombre" type="text" class="form-control" name="nombre" />
                </div>


                <div class="form-group row">
                    <label for="monto" class="col-sm-1 col-form-label">Monto</label>
                    <input id="monto" type="text" class="form-control" name="monto" />
                </div>

                <br />
                <div>
                    <input type="submit" class="btn btn-success"
                           value="Registrar" />
                </div>
            </form>
        </div>


    </div>
</div>
